

.containerMap{
    position: relative;
    overflow: hidden;
    z-index: 0;
    height: 92%;
    width: 98%;
}

.containerMap table{
    position: relative;
    height: 100%;
    width: 100%;

}
tr{
    position: relative;
    //border: none;
    //overflow: none;

}

td{
    position: relative;
    text-align: center;
    width: 8.33%;
    overflow: hidden;
    border: 1px solid;
}

.noborderTopBot{
    border-bottom:none;
    border-top:none;
}

.hide{
    display: none;
}

.tistinadiazzo {
    //outline: thin solid #000000;
}

.invisible td{

}

.invisible{
    outline: thin solid #000000;
}

.aula{
    text-decoration: none;
    font-size: 16px;
}

.scale{
    background-image: url("../images/stair.png");
    background-size: cover;
}

.noRoom{
    /*background-image: url("stair.png");
    background-size: cover;*/

    background-color: #999;
}






.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.containerMap a{
    color:inherit;
}

a:hover{
   text-decoration: none!important;
   color: inherit;

}


